html,
body {
  height: 100%;
  min-height: 100%;
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Rosario", sans-serif;
}

#root {
  min-height: 100%;
  height: 100%;
}

.score {
  padding: 0 2px 0 5px;
}

.score-highlight {
  color: orange;
}
.app {
  display: grid;
  grid-template-rows: 5% 95%;
  height: 100%;
}

.header {
  text-align: center;
}

.hacker-news-link {
  padding-left: 5px;
}

a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css?family=Roboto|Rosario");
